.home {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.home h1 {
  font-size: 3rem;
  color: #333;
}

.home p {
  font-size: 1.2rem;
  color: #666;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Set height of the line */
  background-color: rgb(218, 194, 224); /* Set the color of the line */
  margin: 20px 0; /* Set margin above and below the line */
}