.home {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.home h1 {
  font-size: 3rem;
  color: #333;
}

.home p {
  font-size: 1.2rem;
  color: #666;
}

hr {
  border: none; 
  height: 1px; 
  background-color: rgb(218, 194, 224); 
  margin: 20px 0; 
}

