.login-page {
    display: flex;
    height: 100vh;
    background-color: #f0f4f8;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/public/images/signinbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 100px 50px;
    border-radius: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.left-side h1 {
    font-size: 45px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    text-shadow: 2px 2px px rgba(0, 0, 0, 0.5);
}

.left-side h2 {
    font-size: 30px;
    color: #d67b9e;
    margin: 5px 0;
}

.text-box img {
    width: 400px;
    height: auto;
    margin-top: 60px;
    margin-left: 150px;
}

.logo-top {
    position: absolute;
    top: 0px;
    left: 92%;
    transform: translateX(-50%);
    width: 80px;
    height: auto;
    margin-top: 30px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-box {
    width: 400px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/*--------------------------------------------------------*/

.social-login button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(49, 48, 48);
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(7, 1, 37, 0.4);
}

.google-signin img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.google-signin:hover {
    background-color: rgba(225, 209, 226, 0.3);
}

/*-------------------------------------------------------------------------------*/


.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.or-divider::before,
.or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #1e0044;
}

.or-divider::before {
    margin-right: 10px;
}

.or-divider::after {
    margin-left: 10px;
}

.or-divider span {
    font-size: 16px;
    color: #3b2461;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------------*/


.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(221, 131, 158);
}

.login-box form label {
    display: block;
    color: #000000;
}

.login-box form input {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 14px;
}

.login-box form input:focus {
    border-color: hsl(320, 100%, 85%);
    outline: none;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    margin-bottom: 5px !important;
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 3px;
}

.toggle-password-icon:hover {
    background-color: rgba(255, 192, 245, 0.3);
    border-radius: 15px;
}

/*----------------------------------------------------------------*/
.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.stay-logged-in {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.stay-logged-in input {
    margin-right: 10px;
    margin-top: 0px;
    vertical-align: middle;
}

.login-box form label[for="stay-logged-in"] {
    font-size: 13px;
    white-space: nowrap;
    margin-bottom: 20px;
    ;
}

/*-----------------------------------------------------------*/

.forgot-password {
    background-color: transparent;
    color: rgb(101, 101, 250);
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.forgot-password:hover {
    color: rgb(214, 87, 197);
    text-decoration: none;
}

/*--------------------------------------------------------------*/
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/*--------------------------------------------------------------*/
.sign-in-btn {
    width: 100%;
    padding: 15px;
    background-color: rgb(224, 146, 169);
    ;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(7, 1, 37, 0.4);
}

.sign-in-btn:hover {
    background-color: rgb(211, 151, 204);
}

/*------------------------------------------------------*/
.login-box form label[for="signup"] {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
}

.login-box form label[for="signup"] a {
    color: rgb(101, 101, 250);
    text-decoration: none;
}

.login-box form label[for="signup"] a:hover {
    text-decoration: underline;
    color: rgb(214, 87, 197);
}

/*--------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {

    .left-side {
        display: none;
    }

    .right-side {
        background-image: url('/public/images/signinbg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .login-page {
        flex-direction: column;
    }

    .login-box {
        padding: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    }

    .logo-top {
        top: 50px;
        left: 75%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    .logo-top {
        top: 50px;
        left: 78%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .login-box {
        padding: 20px;
        margin-left: 35px;
    }

    .logo-top {
        top: 50px;
        left: 90%;
        margin-top: 30px;
    }
}