@font-face {
  font-family: "Restco";
  src: url("../public/fonts/Restco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* Top portion of the navbar */

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/*Styling for logo and brand name */
.navbar-logo,
.brand-name {
  text-decoration: none;
}

.navbar-logo img {
  max-height: 55px;
  width: auto;
  padding-top: 5px;
  display: flex;
  align-items: center;
  margin: 10px 20px 20px 35px;
}

.brand-name {
  font-family: "Restco", sans-serif;
  font-size: 27px;
  margin-right: 30px;
  color: rgb(0, 0, 0);
}

/* Styling for search bar */
.navbar-search {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  margin-right: 15px;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid rgb(228, 212, 255);
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Bubblegum Sans", cursive;
}

.search-input:focus {
  outline: none;
  border: 2px solid #8860ad;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  border-radius: 50%;
}

.search-icon {
  width: 25px;
  height: 25px;
}

.search-button:hover {
  background-color: rgba(136, 96, 173, 0.2);
  border-radius: 50%;
}

.search-button:hover .search-icon {
  opacity: 0.7;
}

/*Styling for navbar actions */
.navbar-actions {
  display: flex;
  align-items: center;
}

.signin-btn,
.cart-btn,
.folder-btn,
.help-btn,
.user-icon,
.workspace-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(216, 196, 252);
  border-radius: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.cart-btn {
  margin-right: 40px;
}

.icon {
  width: 24px;
  height: 24px;
}

.signin-btn:hover,
.cart-btn:hover,
.folder-btn:hover,
.help-btn:hover,
.user-icon:hover,
.workspace-icon:hover {
  border: 2px solid rgb(136, 96, 173);
}

/* Navbar.css */

.user-icon,
.workspace-icon {
  position: relative;
}

.dropdown-overlay {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  transition: visibility 0s, opacity 0.2s ease;
}

.dropdown-overlay a {
  text-decoration: none;
  color: #333;
  padding: 5px 0;
  font-size: 17px;
}

.dropdown-overlay button,
.side-navbar-links button {
  background: rgb(149, 124, 177);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  padding: 5px 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown-overlay .username,
.side-navbar-links .username {
  color: rgb(152, 119, 189);
  font-family: "Bubblegum Sans", cursive;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.dropdown-overlay a:hover,
.dropdown-overlay .username:hover {
  color: #7b00ff;
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-overlay button:hover,
.side-navbar-links button:hover {
  background-color: #7b00ff;
}

.side-navbar-links button {
  margin-left: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*Bottom portion of the navbar*/
.navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

/*Styling for navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 55px;
  margin-top: 0px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: rgb(133, 74, 189);
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Styling for buttons, side navbar, and search overlay for when screen is too small*/

/*logo design for when the screen is small--not displayed now*/
.logo-small {
  display: none;
}

/*----------------------------------------------------------------*/
/*styling for the menu button--not displayed now*/
.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger-btn img {
  width: 30px;
  height: 30px;
}

/*Styling for the side navbar and its features*/
.side-navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transition: left 0.3s ease;
  z-index: 9999;
}

.side-navbar.open {
  left: 0;
}

.side-navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-navbar-links li {
  margin: 10px 0;
}

.side-navbar a {
  color: black;
  text-decoration: none;
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  text-align: left;
  padding: 15px 20px 15px 20px;
  display: block;
  transition: text-decoration 0.3s ease;
}

.side-navbar a:hover {
  text-decoration: underline;
  color: rgb(133, 74, 189);
}

.sidebar-divider {
  border: none;
  height: 1px;
  background-color: rgb(95, 68, 121);
  margin: 10px 0;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.close-btn:hover {
  color: rgb(133, 74, 189);
}

/*----------------------------------------------------------------*/
/*Styling for the search button--not displayed now*/
.search-icon-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.search-icon-btn img {
  width: 30px;
  height: 30px;
}

/*styling for the search overlay and its features*/
.search-overlay {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.search-overlay-content {
  background: #f8f9fa;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}

.search-button-icon {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-button-icon:hover {
  background-color: rgba(136, 96, 173, 0.2);
  border-radius: 50%;
}

.close-overlay {
  background: none;
  border: none;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.close-overlay:hover {
  color: rgb(133, 74, 189);
}

/*-----------------------------------------------------------------------------------------------------------------------*/

/* Media Query for smaller screens */
@media (max-width: 768px) {
  /* Hide the regular navbar links, buttons, search, brand name and logo */
  .navbar-links {
    display: none;
  }

  .signin-btn {
    display: none;
  }
  .user-icon {
    display: none;
  }
  .workspace-icon {
    display: none;
  }

  .folder-btn {
    display: none;
  }

  .navbar-search {
    display: none;
  }

  .brand-name {
    display: none;
  }

  .navbar-logo {
    display: none;
  }

  .navbar {
    height: 80px;
  }

  .cart-btn,
  .help-btn {
    margin-top: 15px;
  }

  /* Show the hamburger icon */
  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 15px;
  }

  .hamburger-btn:hover {
    background-color: rgb(236, 225, 255);
    border-radius: 50%;
  }

  /*show search icon button*/
  .search-icon-btn {
    position: absolute;
    left: 50px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 15px;
  }

  .search-icon-btn:hover {
    background-color: rgb(236, 225, 255);
    border-radius: 50%;
  }

  /*show the redisgned logo*/
  .logo-small {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 138px;
  }

  .logo-small img {
    max-width: 100%;
    height: auto;
  }
}
